# HAMOYE - STAGE A: African food production dataset provided by the FAO 
##                    Introduction to Python and machine learning Assignments
###                                                              By Ali Usman Mohammed

In [53]:
#Import the librant libraries to finish the assigments for introduction to python and machine learning
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [54]:
#Lets load the dataset `FoodBalanceSheets_E_Africa_NOFLAG.csv`
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding ="latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [55]:
#Tail of the datasets 
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Question (1)

In [56]:
#Question (1) Consider the following list of tuples: How would you assign element 8 from the list to a variable x?

y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
z = y[1][-1]
print(x)
print(z)

8
8

### Question (2)

In [57]:
#Question (2) What is the total Protein supply quantity in Madagascar in 2015?
total_protein = df.groupby(['Area', 'Element'])['Y2015'].sum().loc['Madagascar']
print(total_protein)

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

### Question (3)

*What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?*

In [58]:
column_2017 = df['Y2017']

# Calculate the mean and standard deviation
mean_2017 = column_2017.mean()
std_2017 = column_2017.std()

# Print the mean and standard deviation to 2 decimal places
print("Mean for the year 2017:", round(mean_2017, 2))
print("Standard deviation for the year 2017:", round(std_2017, 2))

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

### Question (4) 
*Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?*

In [59]:
df.groupby(['Element'])['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

### Question (5) 
*What is the total number of unique countries in the dataset?*

In [60]:
#Number of Unique Countries 
number_of_countries = df['Area'].nunique()
print(number_of_countries)

49

### Question (6) 
*What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]*

In [61]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### Question (9)

In [ ]:
df.groupby('Item').sum().loc[['Animal fats'],['Y2014', 'Y2017']]